@media screen and (min-width: 1650px) {
    .fp-slide.fp-table {
        display: inline-block;
        margin-right: -20vw;
    }
}

@media screen and (max-width: 1600px) and (max-width: 1600px) {
    .section-six-team-image {
        height: 300px;
    }
}

@media screen and (min-width: 1366px) and (max-width: 1440px) {
    
    .col-md-1  { width: 8.33333333% }
    .col-md-2  { width: 16.66666667%}
    .col-md-3  { width: 25%}
    .col-md-4  { width: 33.33333333%}
    .col-md-5  { width: 41.66666667%}
    .col-md-6  { width: 50%}
    .col-md-7  { width: 58.33333333%}
    .col-md-8  { width: 66.66666667%}
    .col-md-9  { width: 75%}
    .col-md-10 { width: 83.33333333%}
    .col-md-11 { width: 91.66666667%}
    .col-md-12 { width: 100%}

    .col-md-vw-1  { width: 8.33333333vw }
    .col-md-vw-2  { width: 16.66666667vw}
    .col-md-vw-3  { width: 25vw}
    .col-md-vw-4  { width: 33.33333333vw}
    .col-md-vw-5  { width: 41.66666667vw}
    .col-md-vw-6  { width: 50vw}
    .col-md-vw-7  { width: 58.33333333vw}
    .col-md-vw-8  { width: 66.66666667vw}
    .col-md-vw-9  { width: 75vw}
    .col-md-vw-10 { width: 83.05vw}
    .col-md-vw-11 { width: 91.66666667vw}
    .col-md-vw-12 { width: 100vw}
    
    .grid-col-md-1 { grid-template-columns: repeat(1, 1fr) }
    .grid-col-md-2 { grid-template-columns: repeat(2, 2fr) }
    .grid-col-md-3 { grid-template-columns: repeat(3, 3fr) }
    .grid-col-md-4 { grid-template-columns: repeat(4, 4fr) }
    .grid-col-md-5 { grid-template-columns: repeat(5, 5fr) }
    .grid-col-md-6 { grid-template-columns: repeat(6, 6fr) }

    
    .section-padding-left {
        padding-left: 4.33333333vw;
    }
    
    .section-padding-top {
        padding-top: 8%;
    }

    .section-padding-bottom {
        padding-bottom: 8%;
    }

    .section-margin-top {
        margin-top: 8%;
    }

    .section-margin-bottom {
        margin-bottom: 8%;
    }
    
    // front
    
    .section-four-item {
        height: 160px !important;
        h3 {
            font-size: 22px !important;
        }
    }
    
    .section-six-team-image {
        height: 240px;
    }
    
}

@media screen and (min-width: 1280px) and (max-width: 1280px) {
    
    .col-md-1  { width: 8.33333333% }
    .col-md-2  { width: 16.66666667%}
    .col-md-3  { width: 25%}
    .col-md-4  { width: 33.33333333%}
    .col-md-5  { width: 41.66666667%}
    .col-md-6  { width: 50%}
    .col-md-7  { width: 58.33333333%}
    .col-md-8  { width: 66.66666667%}
    .col-md-9  { width: 75%}
    .col-md-10 { width: 83.33333333%}
    .col-md-11 { width: 91.66666667%}
    .col-md-12 { width: 100%}

    .col-md-vw-1  { width: 8.33333333vw }
    .col-md-vw-2  { width: 16.66666667vw}
    .col-md-vw-3  { width: 25vw}
    .col-md-vw-4  { width: 33.33333333vw}
    .col-md-vw-5  { width: 41.66666667vw}
    .col-md-vw-6  { width: 50vw}
    .col-md-vw-7  { width: 58.33333333vw}
    .col-md-vw-8  { width: 66.66666667vw}
    .col-md-vw-9  { width: 75vw}
    .col-md-vw-10 { width: 83.05vw}
    .col-md-vw-11 { width: 91.66666667vw}
    .col-md-vw-12 { width: 100vw}
    
    .grid-col-md-1 { grid-template-columns: repeat(1, 1fr) }
    .grid-col-md-2 { grid-template-columns: repeat(2, 2fr) }
    .grid-col-md-3 { grid-template-columns: repeat(3, 3fr) }
    .grid-col-md-4 { grid-template-columns: repeat(4, 4fr) }
    .grid-col-md-5 { grid-template-columns: repeat(5, 5fr) }
    .grid-col-md-6 { grid-template-columns: repeat(6, 6fr) }
    
    .header-bottom-copy {
        padding: 20px !important;
    }
    .section-four-parts {
        transform: translate(-16px,-52px) scale(0.9);
    }
    
    //
    
    .section-two-slider {
        .fp-slides {
            .slide:nth-of-type(1) {
                .section-two-slider-item {
                    background-size: 50%;
                }
            }
        }
    }

    .section-four {
        .section-four-item {
            height: 170px;
            .section-four-item-desc-content {
                h3 {
                    font-size: 22px;
                }
            }
        }
    }
    
    .section-six-team-image {
        height: 245px;
    }
    
}

// small desktop 968px and 1280

@media screen and (min-width: 968px) and (max-width: 1025px) {
    
    // grid
    
    .col-lm-1  { width: 8.33333333% ; }
    .col-lm-2  { width: 16.66666667%; }
    .col-lm-3  { width: 25%; }
    .col-lm-4  { width: 33.33333333%; }
    .col-lm-5  { width: 41.66666667%; }
    .col-lm-6  { width: 50%; }
    .col-lm-7  { width: 58.33333333%; }
    .col-lm-8  { width: 66.66666667%; }
    .col-lm-9  { width: 75%; }
    .col-lm-10 { width: 83.33333333%; }
    .col-lm-11 { width: 91.66666667%; }
    .col-lm-12 { width: 100%; }
    
    .col-lm-vw-1  { width: 8.33333333vw ; }
    .col-lm-vw-2  { width: 16.66666667vw; }
    .col-lm-vw-3  { width: 25vw; }
    .col-lm-vw-4  { width: 33.33333333vw; }
    .col-lm-vw-5  { width: 41.66666667vw; }
    .col-lm-vw-6  { width: 50vw; }
    .col-lm-vw-7  { width: 58.33333333vw; }
    .col-lm-vw-8  { width: 66.66666667vw; }
    .col-lm-vw-9  { width: 75vw; }
    .col-lm-vw-10 { width: 83.33333333vw; }
    .col-lm-vw-11 { width: 91.66666667vw; }
    .col-lm-vw-12 { width: 100vw; }
    
    .grid-col-lm-1 { grid-template-columns: repeat(1, 1fr) }
    .grid-col-lm-2 { grid-template-columns: repeat(2, 2fr) }
    .grid-col-lm-3 { grid-template-columns: repeat(3, 3fr) }
    .grid-col-lm-4 { grid-template-columns: repeat(4, 4fr) }
    .grid-col-lm-5 { grid-template-columns: repeat(5, 5fr) }
    .grid-col-lm-6 { grid-template-columns: repeat(6, 6fr) }
    
    .col-lm-0-margin {
        margin-left: 0;
    }
    
    [class*=col-]:not(:last-child) {
        margin-bottom: 25px;
    }
    
    body {
        min-width: inherit;
    }
    
    .hide-mobile {
        display: none !important;
    }
    
    // layout
    
    .fp-section {
        height: auto !important;
    }
    
    // 404
    
    .section-default {
        .section-wrapper { 
            padding-top: 120px;
        }
    }
    
    // header
    
    #header {
        height: auto;
        width: 100%;
        z-index: 9999;
        padding: 10px 15px;
        flex-direction: row;
        & > div,
        & > #nav{
            padding: 0 !important;
            flex-basis: 33.333%;
        }
        #nav {
            order: 1;
            display: flex;
            align-items: center;
            .widget_nav_menu {
                position: absolute;
                top: 83px;
                background: #fff;
                z-index: 9999;
                width: 100vw;
                left: 0;
                padding: 20px 10px;
                border-top: 1px solid #efefef;
                visibility: hidden;
                pointer-events: none;
                opacity: 0;
                transform: translate(0,20px);
                transition: all 400ms cubic-bezier(0.23, 1, 0.32, 1);
                &.opened {
                    opacity: 1;
                    visibility: visible;
                    pointer-events: auto;
                    transform: translate(0);
                }
                .header-bottom-copy {
                    padding: 0 !important;
                    display: flex;
                    align-items: center;
                    margin-top: 30px;
                    justify-content: center;
                    & > div {
                        margin-bottom: 0;
                        margin-right: 20px;
                    }
                }
            }
            ul.menu {
                display: grid;
                grid-template-columns: repeat(4, 4fr);
                grid-gap: 20px;
                li {
                    margin-bottom: 0;
                }
            }
        }
        .header-logo {
            order: 2;
            text-align: center;
        }
        .language-switch {
            order: 3;
        }
        .header-burger {
            display: block;
        }
    }
    
    // front page
    
    .section-one {
        .section-wrapper {
            height: 100%;
            display: flex;
            align-items: center;
            .section-wrapper-slider_desc {
                bottom: 0; left: auto;
                right: 0;
            }
        }
    }
    
    .section-two {
        .section-wrapper {
            justify-content: center;
        }
        .slide_desc {
            margin-bottom: 60px;
            
            .section-two-slider-item {
                background-image: none !important;
            }
            .section-two-slider-item-desc p {
                font-size: 28px;
                line-height: 1.6;
            }
            img {
                opacity: 1;
                width: 90%;
            }
        }
    }
    
    // page default
    
    .page-privacy_left {
        order: 2;
    }
    
    .page-privacy_right {
        order: 1;
        padding-left: 0;
        padding-bottom: 30px;
        & > div {
            position: static !important;
        }
    }
    
    
}

// tablet 

@media screen and (min-width: 768px) and (max-width: 967px) {
    // grid
    
    .col-lm-1  { width: 8.33333333% ; }
    .col-lm-2  { width: 16.66666667%; }
    .col-lm-3  { width: 25%; }
    .col-lm-4  { width: 33.33333333%; }
    .col-lm-5  { width: 41.66666667%; }
    .col-lm-6  { width: 50%; }
    .col-lm-7  { width: 58.33333333%; }
    .col-lm-8  { width: 66.66666667%; }
    .col-lm-9  { width: 75%; }
    .col-lm-10 { width: 83.33333333%; }
    .col-lm-11 { width: 91.66666667%; }
    .col-lm-12 { width: 100%; }
    
    .col-lm-vw-1  { width: 8.33333333vw ; }
    .col-lm-vw-2  { width: 16.66666667vw; }
    .col-lm-vw-3  { width: 25vw; }
    .col-lm-vw-4  { width: 33.33333333vw; }
    .col-lm-vw-5  { width: 41.66666667vw; }
    .col-lm-vw-6  { width: 50vw; }
    .col-lm-vw-7  { width: 58.33333333vw; }
    .col-lm-vw-8  { width: 66.66666667vw; }
    .col-lm-vw-9  { width: 75vw; }
    .col-lm-vw-10 { width: 83.33333333vw; }
    .col-lm-vw-11 { width: 91.66666667vw; }
    .col-lm-vw-12 { width: 100vw; }
    
    .grid-col-lm-1 { grid-template-columns: repeat(1, 1fr) }
    .grid-col-lm-2 { grid-template-columns: repeat(2, 2fr) }
    .grid-col-lm-3 { grid-template-columns: repeat(3, 3fr) }
    .grid-col-lm-4 { grid-template-columns: repeat(4, 4fr) }
    .grid-col-lm-5 { grid-template-columns: repeat(5, 5fr) }
    .grid-col-lm-6 { grid-template-columns: repeat(6, 6fr) }
    
    .col-lm-0-margin {
        margin-left: 0;
    }
    
    [class*=col-]:not(:last-child) {
        margin-bottom: 25px;
    }
    
    body {
        min-width: inherit;
    }
    
    // layout
    
    .hide-mobile {
        display: none !important;
    }
    
    .fp-section,
    .fp-tableCell {
        height: auto !important;
    }
    
    .section-wrapper {
        padding-top: 130px;
    }
    
    // header
    
    #header {
        height: auto;
        width: 100%;
        z-index: 9999;
        padding: 10px 15px;
        flex-direction: row;
        & > div,
        & > #nav{
            padding: 0 !important;
            flex-basis: 33.333%;
        }
        #nav {
            order: 1;
            display: flex;
            align-items: center;
            .widget_nav_menu {
                position: absolute;
                top: 83px;
                background: #fff;
                z-index: 9999;
                width: 100vw;
                left: 0;
                padding: 20px 10px;
                border-top: 1px solid #efefef;
                visibility: hidden;
                pointer-events: none;
                opacity: 0;
                transform: translate(0,20px);
                transition: all 400ms cubic-bezier(0.23, 1, 0.32, 1);
                &.opened {
                    opacity: 1;
                    visibility: visible;
                    pointer-events: auto;
                    transform: translate(0);
                }
                .header-bottom-copy {
                    padding: 0 !important;
                    display: flex;
                    align-items: center;
                    margin-top: 30px;
                    justify-content: center;
                    & > div {
                        margin-bottom: 0;
                        margin-right: 20px;
                    }
                }
            }
            ul.menu {
                display: grid;
                grid-template-columns: repeat(4, 4fr);
                grid-gap: 20px;
                li {
                    margin-bottom: 0;
                }
            }
        }
        .header-logo {
            order: 2;
            text-align: center;
        }
        .language-switch {
            order: 3;
        }
        .header-burger {
            display: block;
        }
    }
    
    // 404
    
    .section-default {
        .section-wrapper { 
            padding-top: 120px;
        }
    }
    
    // front page
    
    .section-one {
        #play_video {
            margin-bottom: 20px;
        }
        .fp-tableCell {
            height: auto !important;    
        }
        .section-wrapper {
            height: 100%;
            display: flex;
            align-items: center;
            padding-top: 150px;
            padding-bottom: 70px;
            
            .section-wrapper-slider_desc {
                bottom: 0; left: auto;
                right: 0;
            }
        }
    }
    
    .section-two {
        .section-wrapper {
            justify-content: center;
            .slide_desc {
                margin-bottom: 60px;
            }
            .col-lm-9 {
                width: 91.66666667%;
            }
            .tab__header {
                justify-content: center;
            }
            .tab__content-2.tab__content--active {
                display: flex;
                justify-content: center;
            }
            .section-two-slider-item {
                background: none !important;
                img {
                    opacity: 1;
                }
                .section-two-slider-item-desc {
                    padding: 40px 0 40px 35px;
                    p {
                        font-size: 24px;
                        line-height: 1.25;
                    }
                }
            }
        }
    }
    
    .section-four .section-four-item .section-four-item-desc .section-four-item-desc-content h3 {
        font-size: 18px;
    }
    
    .section-five {
        .section-wrapper {
            .col-lm-9 {
                width: 58.33333333%;
            }
        }
        .col-lm-6 {
            width: 100%;
        }
    }
    
    .section-six {
        .col-lm-11 {
            width: 100%;
        }
        .section-six-team-image {
            height: auto;
        }
    }
    
    // page default
    
    .page-privacy_left {
        order: 2;
    }
    
    .page-privacy_right {
        order: 1;
        padding-left: 0;
        padding-bottom: 30px;
        & > div {
            position: static !important;
        }
    }
    
}

// phones

@media screen and (min-width: 320px) and (max-width: 767px) {
    
    /* global */
    
    .col-xs-1  { width: 8.33333333% }
    .col-xs-2  { width: 16.66666667%}
    .col-xs-3  { width: 25%}
    .col-xs-4  { width: 33.33333333%}
    .col-xs-5  { width: 41.66666667%}
    .col-xs-6  { width: 50%}
    .col-xs-7  { width: 58.33333333%}
    .col-xs-8  { width: 66.66666667%}
    .col-xs-9  { width: 75%}
    .col-xs-10 { width: 83.33333333%}
    .col-xs-11 { width: 91.66666667%}
    .col-xs-12 { width: 100%}
    .col-xs-auto { width: auto; }
    
    .col-xs-vw-1  { width: 8.33333333vw }
    .col-xs-vw-2  { width: 16.66666667vw}
    .col-xs-vw-3  { width: 25vw}
    .col-xs-vw-4  { width: 33.33333333vw}
    .col-xs-vw-5  { width: 41.66666667vw}
    .col-xs-vw-6  { width: 50vw}
    .col-xs-vw-7  { width: 58.33333333vw}
    .col-xs-vw-8  { width: 66.66666667vw}
    .col-xs-vw-9  { width: 75vw}
    .col-xs-vw-10 { width: 83.33333333vw}
    .col-xs-vw-11 { width: 91.66666667vw}
    .col-xs-vw-12 { width: 100vw}
    
    .grid-col-xs-1 { grid-template-columns: repeat(1, 1fr) }
    .grid-col-xs-2 { grid-template-columns: repeat(2, 2fr) }
    .grid-col-xs-3 { grid-template-columns: repeat(3, 3fr) }
    .grid-col-xs-4 { grid-template-columns: repeat(4, 4fr) }
    .grid-col-xs-5 { grid-template-columns: repeat(5, 5fr) }
    .grid-col-xs-6 { grid-template-columns: repeat(6, 6fr) }
    
    .col-xs-0-margin {
        margin-left: 0;
    }
    
    [class*=col-]:not(:last-child) {
        margin-bottom: 25px;
    }
    
    [class*=padding-] {
        padding: 0;
    }
    
    body {
        min-width: inherit;
    }
    
    // layout
    
    .hide-mobile {
        display: none !important;
    }
    
    .fp-section,
    .fp-tableCell,
    .fp-scrollable{
        height: auto !important;
    }
    
    .section-wrapper {
        padding: 100px 0 50px 0;
    }
    
    .section .fp-scrollable .section-wrapper {
        padding-bottom: 80px;
    }
    
    .section-title {
        &.type-2 > *,
        &.type-1 > *{
            line-height: 1.25;
            font-size: 26px;
        }
    }
    
    // header
    
    #header {
        height: auto;
        width: 100%;
        z-index: 9999;
        padding: 10px 15px;
        flex-direction: row;
        & > div,
        & > #nav{
            padding: 0 !important;
            flex-basis: 33.333%;
        }
        #nav {
            order: 1;
            display: flex;
            align-items: center;
            .widget_nav_menu {
                position: absolute;
                top: 70px;
                background: #fff;
                z-index: 9999;
                width: 100vw;
                left: 0;
                padding: 20px 10px;
                border-top: 1px solid #efefef;
                visibility: hidden;
                pointer-events: none;
                opacity: 0;
                transform: translate(0,20px);
                transition: all 400ms cubic-bezier(0.23, 1, 0.32, 1);
                &.opened {
                    opacity: 1;
                    visibility: visible;
                    pointer-events: auto;
                    transform: translate(0);
                }
                .header-bottom-copy {
                    padding: 0 !important;
                    display: flex;
                    align-items: center;
                    margin-top: 30px;
                    justify-content: center;
                    & > div {
                        margin-bottom: 0;
                        margin-right: 20px;
                    }
                }
            }
            ul.menu {
                display: grid;
                grid-template-columns: repeat(2, 2fr);
                grid-gap: 20px;
                li {
                    margin-bottom: 0;
                }
            }
        }
        .header-logo {
            order: 2;
            text-align: center;
        }
        .language-switch {
            order: 3;
        }
        .header-burger {
            display: block;
        }
    }
    
    // front page
    
    .section-one {
        //height: 100vh !important;
        #play_video {
            margin-bottom: 20px;
        }
        .section-wrapper {
            //height: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            & > div {
                margin-left: 4.333333%;
            }
            .section-wrapper-slider_desc {
                bottom: 20px;
                left: 0;
                width: 250px;
                right: auto;
                position: static;
                margin-top: 30px;
            }
            .section-title.type-1 > * {
                font-size: 30px;
                line-height: 1;
            }
            .section-one_desc>* {
                font-size: 18px;
            }
        }
    }
    
    .section-two {
        .section-wrapper {
            justify-content: center;
            .section-two-slider {
                margin-top: 50px;
                .slide_desc {
                    margin-bottom: 60px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    img {
                        width: 68%;
                        margin: auto;
                    }
                }
            }
            .section-two-slider-item {
                background: none !important;
                text-align: center;
                img {
                    opacity: 1;
                }
                .section-two-slider-item-desc {
                    padding: 0;
                    p {
                        font-size: 19px;
                        width: 80%;
                        margin: auto;
                        line-height: 1.35;
                    }
                }
            }
            .tab__header [class*=tab__header-] {
                margin-right: 10px;
            }
            .tab__header * {
                font-size: 18px;
            }
        }
    }
    
    .section-five {
        .tab__header * {
            font-size: 18px;
        }
    }
    
    .section-four {
        .section-four-item {
            order: 2;
        }
        .section-four-item:last-child {
            order: 1;
        }
    }
    
    .section-four .section-four-item .section-four-item-desc .section-four-item-desc-content h3 {
        font-size: 18px;
    }
    
    .section-six-team-image {
        height: auto;
    }
    
    // modal
    
    .modal-overlay {
        .modal-wrap {
            padding: 45px 20px;
        }
    }
    
    // page default
    
    .page-privacy_left {
        order: 2;
    }
    
    .page-privacy_right {
        order: 1;
        padding-left: 0;
        padding-bottom: 30px;
        & > div {
            position: static !important;
        }
    }
    
    // iframe
    
    .featherlight-content {
        width: 90%;
        border: none !important;
        padding: 0 !important;
        height: 90%;
        iframe {
            width: 100%;
        }
    }
    
}

