.col-lg-1 {
    width: 8.33333333%;
}

.col-lg-2 {
    width: 16.66666667%;
}

.col-lg-2-margin {
    margin-left: 16.66666667%;
}

.col-lg-3 {
    width: 25%;
}

.col-lg-4 {
    width: 33.33333333%;
}

.col-lg-5 {
    width: 41.66666667%;
}

.col-lg-6 {
    width: 50%;
}

.col-lg-7 {
    width: 58.33333333%;
}

.col-lg-8 {
    width: 66.66666667%;
}

.col-lg-9 {
    width: 75%;
}

.col-lg-10 {
    width: 83.33333333%;
}

.col-lg-11 {
    width: 91.66666667%;
}

.col-lg-vw-1 {
    width: 8.33333333vw;
}

.col-lg-vw-2 {
    width: 16.66666667vw;
}

.col-lg-vw-3 {
    width: 25vw;
}

.col-lg-vw-4 {
    width: 33.33333333vw;
}

.col-lg-vw-5 {
    width: 41.66666667vw;
}

.col-lg-vw-6 {
    width: 50vw;
}

.col-lg-vw-7 {
    width: 58.33333333vw;
}

.col-lg-vw-8 {
    width: 66.66666667vw;
}

.col-lg-vw-9 {
    width: 75vw;
}

.col-lg-vw-10 {
    width: 83.33333333vw;
}

.col-lg-vw-11 {
    width: 91.66666667vw;
}

.dis-grid {
    display: grid;
}

.grid-row-10 {
    grid-gap: 10px;
}

.grid-row-20 {
    grid-gap: 20px;
}

.grid-row-30 {
    grid-gap: 30px;
}

.grid-row-40 {
    grid-gap: 40px;
}

.grid-row-50 {
    grid-gap: 50px;
}

.grid-col-lg-1 {
    grid-template-columns: repeat(1, 1fr)
}

.grid-col-lg-2 {
    grid-template-columns: repeat(2, 2fr)
}

.grid-col-lg-3 {
    grid-template-columns: repeat(3, 3fr)
}

.grid-col-lg-4 {
    grid-template-columns: repeat(4, 4fr)
}

.grid-col-lg-5 {
    grid-template-columns: repeat(5, 5fr)
}

.grid-col-lg-6 {
    grid-template-columns: repeat(6, 6fr)
}

/* text politics */

.text-block p,
.text-block ul,
.text-block img {
    margin-bottom: 5px;
    line-height: 1.35;
}

.text-block h1,
.text-block h2,
.text-block h3,
.text-block h4 {
    margin-bottom: 10px;
}

.text-block p:last-child,
.text-block ul:last-child,
.text-block li:last-child,
.text-block h1:last-child,
.text-block h2:last-child,
.text-block h3:last-child,
.text-block h4:last-child,
.text-block img:last-child {
    margin-bottom: 0;
}

.text-block h1,
.text-block h2,
.text-block h3 ,
.text-block h4{
    line-height: 1.35;
}

.text-block li {
    position: relative;
}

/* general */

.text-block h1,
.text-block h2,
.text-block h3,
.text-block h4 {
    color: #000022;
    font-size: 24px;
    font-weight: 600;
}

// var

$malina : #FB3883;
$dark_malina : #d93071;
$blue: #21145F;
$dark_blue: #190f4b;

a {
    text-decoration: none;
    color: #111;
}

img {
    max-width: 100%;
    height: auto;
}

li {
    list-style: none;
}

blockquote {
    font-style: italic;
    color: #818181;
    line-height: 1.5;
}

.text-block blockquote {
    margin-bottom: 20px;
}

input,
textarea {
    border: none;
    color: #000;
    padding: 10px 20px;
    color: $malina;
    width: auto;
    font-family: inherit;
    font-size: 22px;
    border-radius: 4px;
    border: 2px solid $malina;
}

input[type='button'] {
    width: auto;
}

.button,
input[type='button'] {
    padding: 10px 30px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: all 100ms ease-in-out;
    appearance: none;
    
    // custom
    font-size: 22px;
    color: #fff;
    background-color: $malina;
    border-radius: 4px;
    
    // types
    &.type-1 {
        background: url(../images/phone_icon.svg) 8% 50% no-repeat $malina;
        background-size: 24px;
        padding-left: 60px;
        &:hover {
            background-color: $dark_malina;
            border-color: $dark_malina;
        }
    }
    &.type-2 {
        background: #21145F;
        text-align: center;
        &:hover {
            background-color: $dark_blue;
            border-color: $dark_blue;
        }
    }
}

.button:hover,
input[type='button']:hover {
    
}

input:not(input[type="checkbox"]) {
    appearance: none;
}

input::placeholder,
textarea::placeholder{
    color: $malina;
}

input[type='button'] {
    width: auto;
}

/* CF7 */

form.wpcf7-form p {
    display: flex;
    flex-wrap: wrap;
    //justify-content: space-between;
}

form.wpcf7-form .wpcf7-form-control-wrap {
    width: 48%;
    //margin-bottom: 20px;
}

form.wpcf7-form .wpcf7-form-control-wrap input,
form.wpcf7-form .wpcf7-form-control-wrap textarea {
    width: 100%;
}

form.wpcf7-form .wpcf7-form-control-wrap:last-child {
    margin-bottom: 0;
}

form.wpcf7-form .wpcf7-form-control-wrap[class*="textarea-"] {
    width: 100%;
}

.black-block textarea::placeholder {
    color: #fff;
}

/* END CF7 */

video {
    width: 100%;
}

.wrap {
    padding: 0 20px;
}

.dis-flex {
    display: flex;
}

.align-self-center {
    align-self: center;
}

.align-items-center {
    align-items: center;
}

.align-items-end {
    align-items: flex-end;
}

.align-items-start {
    align-items: flex-start;
}

.align-items-baseline {
    align-items: baseline;
}

.align-content-end {
    align-content: flex-end;
}

.align-content-center {
    align-content: center;
}

.align-content-between {
    align-content:  space-between;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-end {
    justify-content: flex-end;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-start {
    justify-content: flex-start;
}

.flex-wrap-wrap {
    flex-wrap: wrap;
}

.flex-direction-col {
    flex-direction: column;
}

.order-1 {
    order: 1;
}

.order-2 {
    order: 2;
}

.order-3 {
    order: 3;
}

.zindex-0 {
    z-index: 0;
}

.zindex-1 {
    z-index: 1;
}

.zindex-2 {
    z-index: 2;
}

.zindex-3 {
    z-index: 3;
}

.zindex-4 {
    z-index: 4;
}

.zindex-5 {
    z-index: 5;
}

.zindex-6 {
    z-index: 6;
}

.zindex-7 {
    z-index: 7;
}

.zindex-8 {
    z-index: 8;
}

.zindex-9 {
    z-index: 9;
}

.zindex-10 {
    z-index: 10;
}

.text-col-2 {
    column-count: 2;
}

.text-col-2 > p {
    display: inline-block;
    width: 100%;
}

/* grid system */

.overflow-hidden {
    overflow: hidden;
}

.large-text,
.text-block .large-text {
    font-weight: 600;
    line-height: 1.6;
    font-size: 19px;
}

.featherlight iframe {
    width: 1100px;
    height: 550px;
}