/* section paddings and margins */

.section {
    .fp-scrollable {
        .section-wrapper {
            padding-bottom: 150px;
        }
    }
    .iScrollVerticalScrollbar {
        display: none;
    }
}

.section-wrapper {
    padding: 50px 0;
}

.section-padding-top {
    padding-top: 6%;
}

.section-padding-bottom {
    padding-bottom: 6%;
}

.section-margin-top {
    margin-top: 6%;
}

.section-margin-bottom {
    margin-bottom: 6%;
}

.section-padding-left {
    padding-left: 8.33333333vw;
}

// var

$malina : #FB3883;
$blue: #21145F;

// section title

.section-title {
    font-family: "Recoleta";
}

.section-title.type-1,
.section-title.type-4{
    & > * {
        font-weight: bold;
        font-size: 37.5px;
        line-height: 41px;
        color: $blue;
    }
    & strong {
        color: $malina;
    }
}

.section-title.type-2 {
    & > * {
        font-weight: bold;
        font-size: 41px;
        color: $blue;
        line-height: 37.5px;
    }
}

.section-title.type-4 {
    & > * {
        color: #111;
    }
    & > small {
        color: #9c9c9c;
        font-size: 15px;
        font-family: Rubik;
        font-weight: normal;
    }
}

.section-title.type-3 {
    & > * {
        font-family: rubik;
        font-weight: bold;
        font-size: 22px;
        color: $malina;
        line-height: 27.5px;
    }
}

/* section colors */

.black-block,
.black-block h1,
.black-block h2,
.black-block h3,
.black-block a{
    color: #fff;
}

.black-block p {
    color: #ffffff;
}

.black-block,
.black-block .text-block h1,
.black-block .text-block h2,
.black-block .text-block h3 {
    color: #fff;
}

.black-block .text-block p,
.black-block .text-block li{
    color: #fff;
}

.large-text > * {
    font-size: 30px !important;
}

/* other */

.object-fit-cover {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    object-fit: cover;
}

// table

.table-item {
    .table-item-header {
        background-color: $blue;
        color: #fff;
        padding: 4px 8px;
    }
    &.malina {
        color: $malina;
        .table-item-header {
            background-color: $malina;
        }
    }
    .table-item-desc {
        padding-top: 26px;
        li {
            font-size: 22px;
        }
        a {
            color: $malina;
            font-size: 16px;
        }
    }
}