@font-face {
    font-family: "Recoleta";
    font-weight: bold;
    font-style: normal;
    src: url("../fonts/Recoleta/Latinotype_Recoleta_Bold.eot");
    src: url("../fonts/Recoleta/Latinotype_Recoleta_Bold.eot?#iefix") format("embedded-opentype"),
	url("../fonts/Recoleta/Latinotype_Recoleta_Bold.ttf") format("truetype"),
	url("../fonts/Recoleta/Latinotype_Recoleta_Bold.svg#codropsicons") format("svg");
}

/* scroll bar */

::-webkit-scrollbar {
    width: 3px
}

::-webkit-scrollbar-thumb {
    border-width: 1px 1px 1px 2px;
    border-color: #fafafa;
    background-color: #444;
}

::-webkit-scrollbar-thumb:hover {
    border-width: 1px 1px 1px 2px;
    border-color: #fafafa;
    background-color: #666
}

::-webkit-scrollbar-track {
    border-width: 0
}

::-moz-scrollbar {
    width: 3px
}

::-moz-scrollbar-thumb {
    border-width: 1px 1px 1px 2px;
    border-color: #fafafa;
    background-color: #444;
}

::-moz-scrollbar-thumb:hover {
    border-width: 1px 1px 1px 2px;
    border-color: #fafafa;
    background-color: #666
}

::-moz-scrollbar-track {
    border-width: 0
}

.wow {
    visibility: hidden;
}

.screen-reader-text {
    display: none;
}

// var

$malina : #FB3883;
$blue: #21145F;

/* body and html general */

body, html {
    width: 100%;
    height: 100%
}

body {
    font-family: "Rubik";
    color: #303030;
    min-width: 1280px;
}

// header

#header {
    height: 100%;
    position: fixed;
    left: 0; 
    top: 0;
    background: #fff;
    .header-logo {
        padding-top: 49px;
        padding-left: 58px;
        padding-right: 58px;
    }
    #nav {
        padding: 0 20px 0 58px;
        li {
            position: relative;
            a {
                color: $blue;
            }
        }
        li:not(:last-child) {
            margin-bottom: 29px;
        }
        li:hover,
        li.active {
            a {
                color: $malina;
            }
            &:before {
                content: '';
                position: absolute;
                top: 4px;
                left: -21px;
                width: 9px; height: 10px;
                background: url(../images/tregle.svg) center center no-repeat;
                background-size: contain;
            }
        }
    }
    .language-switch {
        padding-top: 78px;
        .nice-select {
            border: 2px solid $malina;
            border-radius: 3px;
            padding: 3px 10px;
            ul.list {
                li {
                    margin-bottom: 0 !important;
                }
            }
            .current {
                color: $malina;
            }
        }
    }
    .header-bottom {
        .header-bottom-copy {
            font-size: 12px;
            color: #303030;
            padding: 0 39px;
            padding-right: 25px;
            padding-bottom: 14px;
        }
    }
    .header-burger {
        display: none;
    }
}

// modal

.modal-overlay {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,.89);
    //trigger
    opacity: 0;
    visibility: hidden;
    transform: scale(0.8);
    //transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    pointer-events: none;
    z-index: 999999;
    &.opened {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
        pointer-events: all;
    }
    .section-title.type-1 {
        & * {
            color: $malina;
        }
    }
    .modal-wrap {
        z-index: 2;
        border-radius: 4px;
        border: 2px solid $malina;
        background: #312969;
        padding: 55px 45px;
        form.wpcf7-form .wpcf7-form-control-wrap {
            width: 100%;
            margin-bottom: 20px;
        }
        form.wpcf7-form .wpcf7-form-control-wrap[class*="menu-"] {
            width: auto;
            margin-bottom: 0;
        }
        .button {
            width: 100%;
            margin-top: 30px;
            &.type-2 {
                margin-top: 0;
            }
        }
        .nice-select span.current {
            background: #fc3882;
            border-radius: 3px;
            padding: 5px 4px;
        }
    }
    & > .modal-close {
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;
        z-index: 0;
    }
}